@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@0;1&display=swap');

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-height: 100%;
    width: 100%;
    background-image: url(../assets/extras/christian-tyle-background-image-second.JPG);

}

/* COLORS */
:root {
    --dark-color: #151515;
    --bright-color: #ffffff;
    --main-color: #42fe7b;
}

/* FONTS */
:root {
    --heading-font: 'Patrick Hand', cursive;
    --text-font: 'DM Sans', sans-serif;
}


/*------------------------------- INDEX PAGE --------------------------------*/

/********** Extra Small Devices, Phones ***********/

@media only screen and (min-width : 480px) {

    /**** HEADER ****/
    header {
        background: rgba(0, 0, 0, 0.95);
        border-bottom: 1px var(--bright-color) solid;
    }

    .header-nav-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        min-height: 7vh;
    }

    .menu-li {
        font-family: var(--heading-font);
        font-size: 1.4em;
        color: var(--bright-color);
        text-decoration: none;
        text-transform: capitalize;
        transition: color 0.250s;
        margin: 0.3em;
    }

    .menu-li:hover {
        color: var(--main-color);
    }

    .header-section {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    /**************** HERO *****************/
    .collage-hero-img {
        width: 100%;
        height: auto;
        display: block;
        opacity: 80%;
    }

    .hero-content {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        color: var(--bright-color);
        display: grid;
        grid-template: repeat(10, 40px) / repeat(14, 1fr);
    }

    .heading-div {
        grid-column: 2 / 14;
        grid-row: 6;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .index-heading-div {
        grid-column: 2 / 14;
        grid-row: 6;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 4.1em;
        text-transform: uppercase;
        line-height: 1.2em;
        font-family: var(--heading-font);
        color: var(--bright-color);

    }

    h2 {
        font-size: 1.3em;
        line-height: 1.1em;
        font-family: var(--text-font);
        font-style: italic;
        color: var(--bright-color);
    }

    .index-title {
        display: flex;
        justify-content: center;
    }

    .characters {
        color: var(--main-color);
        padding-right: 0.2em;

    }

    /******* ABOUT ME *******/

    .about-me-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin-top: 3em;
    }

    .christian-tyler-figure {
        display: flex;
        justify-content: center;
    }

    .img-christian {
        max-width: 37%;
        border: solid 3px var(--bright-color);
    }

    .about-me-div,
    .about-me-div-two {
        background: rgba(0, 0, 0, 0.87);
        margin: 1em;
        border: 1px var(--bright-color) solid;
    }

    .about-me-paragraph-block,
    .about-me-paragraph-block-two {
        color: var(--bright-color);
        font-size: 1.2em;
        line-height: 30px;
        padding: 0.5em;
        font-family: var(--text-font);
        letter-spacing: 1px;
    }

    /******* FOOTER ********/

    .copyright-div {
        padding: 1em 0em 0em 0em;
        display: flex;
        justify-content: center;

    }

    .copyright-paragraph {
        color: var(--bright-color);
        padding: 1em;
        font-size: 0.7em;
    }

}

@media only screen and (min-width : 552.5px) {

    h1 {
        font-size: 4.5em;
    }

    h2 {
        font-size: 1.4em;
    }

    .hero-content {
        grid-template: repeat(10, 40px) / repeat(14, 1fr);
    }

    .img-christian {
        max-width: 39%;
    }

}

@media only screen and (min-width : 624px) {

    h1 {
        font-size: 5em;
    }

    h2 {
        font-size: 1.5em;
    }

    .hero-content {
        grid-template: repeat(10, 45px) / repeat(14, 1fr);
    }

    .img-christian {
        max-width: 38%;
    }

}

@media only screen and (min-width : 696px) {

    h1 {
        font-size: 5.5em;
    }

    h2 {
        font-size: 1.6em;
    }

    .hero-content {
        grid-template: repeat(10, 50px) / repeat(14, 1fr);
    }

    .img-christian {
        max-width: 37%;
    }

}

/********** Small Devices, Tablets ***********/

@media only screen and (min-width : 768px) {

    h1 {
        font-size: 6em;
    }

    h2 {
        font-size: 1.7em;
    }

    .hero-content {
        grid-template: repeat(10, 55px) / repeat(14, 1fr);
    }

    .header-nav-list {
        min-height: 8vh;
    }


    .img-christian {
        max-width: 36%;
    }

    .menu-li {
        font-size: 1.6em;
        margin: 0.5em;
    }

}

@media only screen and (min-width : 840px) {

    h1 {
        font-size: 6.5em;
    }

    h2 {
        font-size: 1.8em;
    }

    .hero-content {
        grid-template: repeat(10, 60px) / repeat(14, 1fr);
    }

    .img-christian {
        max-width: 35%;
    }

}

@media only screen and (min-width : 912px) {

    h1 {
        font-size: 7em;
    }

    h2 {
        font-size: 1.9em;
    }

    .hero-content {
        grid-template: repeat(10, 65px) / repeat(14, 1fr);
    }

    .img-christian {
        max-width: 42%;
    }

    .about-me-section {
        display: grid;
        grid-template: repeat(10, 55px) / repeat(33, 1fr);
    }

    .christian-tyler-photo {
        grid-column: 3 / 28;
        grid-row: 6 / 7;
    }

    .christian-tyler-figure {
        display: flex;
        justify-content: flex-start;
    }

    .about-me-div {
        grid-column: 14 / 34;
        grid-row: 6;
        padding: 0.5em;
    }

    .about-me-paragraph-block {
        font-size: 1.3em;
        line-height: 33px;
    }

    .copyright-div {
        padding: 5em 0em 0em 0em;
        display: flex;
        justify-content: flex-end;

    }

}

@media only screen and (min-width : 984px) {

    h1 {
        font-size: 7.5em;
    }

    h2 {
        font-size: 2em;
    }

    .hero-content {
        grid-template: repeat(10, 70px) / repeat(14, 1fr);
    }

    .img-christian {
        max-width: 40%;
    }

    .about-me-paragraph-block {
        font-size: 1.4em;
        line-height: 35px;
    }

}

/************ DESKTOP ***************/

@media only screen and (min-width : 1056px) {

    h1 {
        font-size: 8em;
    }

    h2 {
        font-size: 2.1em;
    }

    .hero-content {
        grid-template: repeat(10, 75px) / repeat(14, 1fr);
    }

}

@media only screen and (min-width : 1128px) {

    h1 {
        font-size: 8.5em;
    }

    h2 {
        font-size: 2.2em;
    }

    .hero-content {
        grid-template: repeat(10, 80px) / repeat(14, 1fr);
    }


}

@media only screen and (min-width : 1200px) {


    h1 {
        font-size: 9em;
    }

    h2 {
        font-size: 2.3em;
    }

    .hero-content {
        grid-template: repeat(10, 85px) / repeat(14, 1fr);
    }


    .img-christian {
        max-width: 36%;
    }

    .about-me-div {
        grid-column: 14 / 33;
        grid-row: 6;
        padding: 0.5em;
    }

    .about-me-paragraph-block {
        font-size: 1.5em;
    }

    .christian-tyler-photo {
        grid-column: 3 / 30;
        grid-row: 6 / 7;
    }

}

/******** Medium Devices, Desktops **********/

@media only screen and (min-width : 1272px) {


    h1 {
        font-size: 9.5em;
    }

    h2 {
        font-size: 2.4em;
    }

    .hero-content {
        grid-template: repeat(10, 90px) / repeat(14, 1fr);
    }

}

@media only screen and (min-width : 1344px) {

    .hero-content {
        grid-template: repeat(10, 95px) / repeat(14, 1fr);
    }

    h1 {
        font-size: 10em;
    }

    h2 {
        font-size: 2.5em;
    }


    .img-christian {
        max-width: 32%;
        margin-left: 2em;
    }


}

@media only screen and (min-width : 1416px) {

    h1 {
        font-size: 10.5em;
    }

    h2 {
        font-size: 2.6em;
    }

    .img-christian {
        max-width: 33.5%;
    }


    .about-me-section {
        padding-top: 2em;
    }

    .about-me-div {
        grid-column: 15 / 33;
    }

    .about-me-paragraph-block {
        font-size: 1.6em;
        line-height: 40px;
    }


}

@media only screen and (min-width : 1488px) {

    h1 {
        font-size: 11em;
    }

    h2 {
        font-size: 2.7em;
    }


    .about-me-div {
        grid-column: 14 / 33;
    }

    .img-christian {
        max-width: 30%;
    }

}


/*------------------ PHOTOGRAPHY PAGE / PROCREATE PAGE / VIDEO PAGE ------------*/

/********** Extra Small Devices, Phones ***********/
@media only screen and (min-width : 480px) {


    .page-discription {
        color: var(--bright-color);
        font-size: 1.2em;
        line-height: 30px;
        padding: 0.5em;
        font-family: var(--text-font);
        letter-spacing: 1px;
    }


    .heading-div {
        display: grid;
        grid-template: repeat(5, 21px) / repeat(4, 1fr);
    }

    .heading-title {
        color: var(--bright-color);
        font-size: 4em;
        grid-row: 3;
        grid-column: 1 / 5;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--heading-font);
        text-transform: uppercase;
    }

    .content {
        width: 100%;
        height: 100%;
        margin: 0.3em 0em;
        border: var(--bright-color) solid 1px;
    }

    .gallary-container {
        position: relative;
        column-count: 1;
        margin: 1em;
        grid-column: 2;


    }

    .gallary-img {
        display: inline-block;
        /*   display: block; */
    }

    .gallary-video {
        display: inline-block;
    }


    .back-to-top {
        display: flex;
        justify-content: flex-end;
        padding-top: 0.1em;
    }

    .back-to-top-text {
        color: var(--bright-color);
        text-decoration: none;
        font-family: var(--heading-font);
        font-size: 2em;
        text-transform: capitalize;
    }

    #top {
        color: var(--bright-color);
    }

    .back-to-top-text {
        transition: color 0.250s;
    }

    .back-to-top-text:hover {

        color: var(--main-color);
    }

}

/********** Small Devices, Tablets ***********/
@media only screen and (min-width : 768px) {

    .gallary-container {
        column-count: 2;
        grid-auto-flow: dense;
    }

    .procreate-video-back-to-top {
        display: none;
    }
}

/************ DESKTOP ***************/
@media only screen and (min-width : 1200px) {

    .gallary-container {
        column-count: 3;
    }
}


/*---------------- EXTRAS -------------------*/

/***** Scrollbar ******/

/* width */
::-webkit-scrollbar {
    width: 10px;
}


/* Track */
::-webkit-scrollbar-track {
    background: var(--dark-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--dark-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--bright-color);
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
}
